
/* Header */

header{
    background-color: #F8F9FA;
    height: 13vh;
}

.nav-link{
    color: #2d2d2d;
}

.nav-item .nav-link.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

/* Carroussel */


/* Definindo a altura total do carrossel */
#carousel{
    height: 60vh;
}
/* Pedindo para o filho ter uma altura semelhante */
.carousel-inner{
    height: 100%;
}

/* Imagem ocupa todo o carrossel */
img{
    height: 100%;
}

/* Imagem com o efeito de opacidade preto */
.overlay {
    filter: brightness(30%);
  }

/* Section business */

#section-introduction{
    background-color: #F8F9FA;
    color: #2d2d2d;
    
}

#btn-business{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    color: #2d2d2d;
}

#btn-business:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-0.1em);
    color: #FFF
}


/* Section Polices */

/* Alterando coloração da seção de politicas */

#section-polices{
    background-color: rgba(0, 0, 0, 0.5);
    
}

/* Retirando os efeitos do  accordion buttons padrões do bootstrap */
.accordion-button:focus {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-color: transparent;
}

/* Coloração de fundo quando o accordion esta ativo */
.accordion-button:not(.collapsed) {
    background-color: rgba(0, 0, 0, 0.1); 
    color: #222831;
}

/* Section Services */

#services{
    margin-left: 75px;
    margin-top: 30px;
}